body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
}


main {
    background-color: rgb(241, 242, 247);
    display: flex;
    flex-direction: column;
    width: 75%;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
}

.header-info {
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    gap: 1rem;
}

header button {
    background-color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 19rem;
    margin: 1rem;
}

header nav a {
    margin: 2.5rem;
    text-decoration: none;
    color: rgb(153, 158, 177);
    font-size: 1.5rem;
    
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem;
}

.title div {
    display: flex;
    gap: 0.7rem;
}

.budget-intro {
    display: flex;
    flex-direction: column;
}

.title button {
    background-color: white;
    border: 1px solid white;
    border-radius: 0.8rem;
    padding: 1rem;
    width: 15rem;  
}

.title button svg {
    padding: 0.1rem;
}

.title div h2 {
    display: flex;
    justify-content: center;
    
}


.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;

}

.buttons button {
    background-color: rgb(241, 242, 247);
    border: 1px solid rgb(153, 158, 177);
    border-radius: 0.5rem;
    width: auto;
    height: 3rem;
    padding: 2rem;
    
}





aside {
    display: flex;
    flex-direction: column;
    
}